* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body {
    background: whitesmoke;
}

nav {
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

/* LIT Theme */
.font-lit {
    font-family: 'Norwester', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

.bg-lit {
    background: #9f0000;
}

.text-lit {
    color: #9f0000;
}

.btn-lit {
    background: #9f0000;
    color: white;
}

.btn-lit:hover {
    background: #da3434;
    color: whitesmoke;
}

.text-lit:hover {
    color: #cc2626;
}

.book-list {
    padding-bottom: 100px;
    border-bottom: 1px solid black;
}

.book-list img {
    width: 60px;
    float: left;
}

.book-list h6 {
    margin-left: 90px;
    font-weight: bold;
}

#book-info {
    margin-bottom: 10em;
}

#book-info label {
    font-weight: bold;
    width: 8em;
    padding: .5em;
}

#book-info span {
    overflow: hidden;
}

.section {
    z-index: 10;
    position: absolute;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > a img {
    width: 70px;
    margin: 5px;
}

.flex-container > a img:hover {
    filter: brightness(60%);
}

.flex-container > .category {
    background: linear-gradient(-45deg, #860000 0%, #860000 49%, #9f0000 49%, #9f0000 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: .3s;
}

.flex-container > .category:hover {
    transform: scale(1.2);
    transition: .3s;
}

.flex-container > .category img {
    width: 5em;
}

.flex-container > .category img:hover {
    filter: brightness(100%);
}

/* Responsive Style */

@media (max-width: 576px) {
    .flex-container > .category {
        margin: 2px;
        padding: 2px;
    }

    .flex-container > .category img {
        width: 3em;
    }
}

@media (min-width: 576px) {
    .flex-container > .category {
        margin: 5px;
        padding: 5px;
    }

    .flex-container > .category img {
        width: 3em;
    }
}

@media (min-width: 768px) {
    .flex-container > .category {
        margin: 5px;
        padding: 5px;
    }
    
    .flex-container > .category img {
        width: 2.7em;
    }
}

@media (min-width: 992px) {
    .flex-container > .category {
        margin: 3px;
        padding: 5px;
    }

    .flex-container > .category img {
        width: 4em;
    }
}

@media (min-width: 1200px) {
    .flex-container > .category {
        margin: 10px;
        padding: 10px;
    }
    
    .flex-container > .category img {
        width: 5em;
    }
}

/* Bootstrap Overide */

.tooltip-inner {
    background: #9f0000;
    border-radius: 0;
    padding: .5em 1em;
    border-bottom: 5px solid #530000;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,.bs-tooltip-top .arrow::before { 
    border-top-color: #530000!important;
}

.tag-svg {
    height: 2.5em;
    width: auto;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
  
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.container-index {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
    .container-index {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-index {
        max-width: 820px;
    }
}

@media (min-width: 992px) {
    .container-index {
        max-width: 1060px;
    }
}

@media (min-width: 1200px) {
    .container-index {
        max-width: 1440px;
    }
}

/* Swiper */

.swiper-container {
    width: 100%;
    height: auto;
    padding-bottom: 2em;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-slide .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.swiper-slide:hover .after {
    display: block;
    background: rgba(36, 36, 36, 0.6);
}

.swiper-slide .after .content {
    position: absolute;
    width: 100%;
    background: #9f0000;
    bottom: 0;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.swiper-lazy-preloader-lit {
    --swiper-preloader-color: #9f0000;
}

.lazy-load {
    margin-top: 50%;
}